
/* colors */

.anthracite {
    background-color: #292C33;
}

.blue {
    color: #00BFFF;
}

.green {
    color: #00FF00;
}

.yellow{
    color: #FFD700;
}

.silver {
    color: #C0C0C0;
}

.red {
    color: #b42626;
}


/* fonts */

/* general */

/* index.html */

/* login.html */

/* logout.html */

/* register.html */

/* profile.html */

/* admin.html */

