/* colors */

.anthracite {
    background-color: #292C33 !important;
    --bs-body-bg: #292C33 !important;
}

.blue {
    color: #00BFFF !important;
}

.green {
    color: #00FF00 !important;
}

.yellow {
    color: #FFD700 !important;
}

.silver {
    color: #C0C0C0 !important;
}

.red {
    color: #b42626 !important;
}

.styled-space {
    margin-top: 20px;
}

/* fonts */

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #00BFFF;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #00BFFF;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #C0C0C0;
}



.user-profile {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
}

.user-profile h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.user-info {
    margin-bottom: 20px;
    color: #666;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    width: 300px;
}

button[type="submit"] {
    width: 150px;
}

.confirmation-text {
    color: #00BFFF !important;
}

/* general */

body {
    padding: 20px;
    background-color: #292C33 !important;
}

/* index.html */

/* login.html */

/* logout.html */

/* register.html */

/* profile.html */



