
/* colors */

.anthracite {
    background-color: #292C33 !important;;
}

.blue {
    color: #00BFFF !important;
}

.green {
    color: #00FF00;
}

.yellow{
    color: #FFD700;
}

.silver {
    color: #C0C0C0;
}

.red {
    color: #b42626;
}

.styled-space {
        margin-top: 20px;
    }

/* fonts */

/* general */

/* index.html */

/* login.html */

/* logout.html */

/* register.html */

/* profile.html */



